//* ===============  AUTOMATICALLY CONVERT PX TO REM
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;

}

.hero{
    padding: 0 rem(165);
    display:flex;
    justify-content:space-between;
    align-items: center;

    @include breakpoint-down(medium){
        flex-direction: column-reverse;
        padding: 0 rem(97);
    }

    @include breakpoint-down(small){
        padding: 0 rem(24);
    }

    &__left{
        flex: 1.5;

        @include breakpoint-down(medium){
            flex: 1;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            // display: grid;
            // place-content: center;
            // place-items: center;
        }

        h1{
            margin-bottom: rem(21);
        }

        

        &>p{
            margin-top: rem(16);
            padding-left: rem(27);

            @include breakpoint-down(medium){
                padding-left: 0;
                text-align: center;
            }
        }
    }

    &__right{
        flex: 1;
        justify-items: center;
        
        img{
            @include breakpoint-down(medium){
                min-width:rem(159);
                height: rem(300);
            }

            @include breakpoint-down(small){
                min-width: rem(128);
                height: rem(240);
            }
        }
    }

}

.partners{
    display:flex;
    background-color: $color-sec-mirage-blue ;
    padding: rem(100) rem(165);
    align-items: center;
    gap: rem(100);


    &__logos{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: rem(40);

        &-logo{
            display: flex;
            gap: rem(61);
        }
    }

    &__content{
        flex: 1; 
        display:flex;
        flex-direction: column;
        gap: rem(32);

        h2{
            color: $color-pry-white;
        }

        .btn-outline{
            border: 1px solid $color-pry-white;
            width: rem(140);
            display: grid;
            place-items: center;
            place-content: center;
            height: rem(48);
            border-radius: rem(24);
            opacity: 1;
            color: $color-pry-white;

            &:hover{
                background-color: $color-pry-white;
                color: $color-sec-mirage-blue;
            }
        }

    }
}