//* ===============  AUTOMATICALLY CONVERT PX TO REM
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;

}

.hero{
    display:flex;
    justify-content:space-between;
    align-items: center;

    &__left{
        flex: 1.5;

        .form-email{
            background-color: $color-pry-white;
            border-radius: rem(24);

            display:flex;


        }

        input[type=email]{
            color: $color-sec-san-blue;
            opacity: 0.5;
            font-weight: $weight-bold;
            padding: rem(14) rem(100) rem(14) rem(27);
            border: none;
            border-radius: rem(24);

            &:focus{
                outline: none;
            }
        }

        .btn-form{
            border:none;
            border-radius: rem(24);
            padding: rem(15) rem(26);

            background-color: $color-sec-pink ;
        }
    }

    &__right{
        flex: 1;
        justify-items: center;
        
    }

}