//* ===============  AUTOMATICALLY CONVERT PX TO REM
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;

}



//*** hero section

.hero{
    padding: 0 rem(165);
    display:flex;
    justify-content:space-between;
    align-items: center;

    @include breakpoint-down(medium){
        flex-direction: column-reverse;
        padding: 0 rem(97);
    }

    @include breakpoint-down(small){
        padding: 0 rem(24);
    }

    &__left{
        flex: 1.5;

        @include breakpoint-down(medium){
            flex: 1;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            // display: grid;
            // place-content: center;
            // place-items: center;
        }

        h1{
            margin-bottom: rem(21);
        }

        

        &>p{
            margin-top: rem(16);
            padding-left: rem(27);

            @include breakpoint-down(medium){
                padding-left: 0;
                text-align: center;
            }
        }
    }

    &__right{
        flex: 1;
        justify-items: center;
        
        img{
            @include breakpoint-down(medium){
                min-width:rem(159);
                height: rem(300);
            }

            @include breakpoint-down(small){
                min-width: rem(128);
                height: rem(240);
            }
        }
    }

}


// *** Partners section 

.partners{
    display:flex;
    background: url(../../img/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: rem(-200) rem(-350);
    background-color: $color-sec-mirage-blue ;
    padding: rem(100) rem(165);
    align-items: center;
    gap: rem(100);


    @include breakpoint-down(medium){
        margin-top: rem(100);
        flex-direction: column-reverse;
        padding: rem(88) rem(116);
        background-position: center rem(-580);
    }

    @include breakpoint-down(small){
        padding: rem(80) rem(24);
    }
    


    &__logos{
        flex: 1;

        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(2,auto-fit);
        gap: rem(50);

        @include breakpoint-down(small){
            grid-template-columns: repeat(2, minmax(100px, 1fr));
        }
    }

    &__content{
        flex: 1; 
        display:flex;
        flex-direction: column;
        gap: rem(32);

        

        h2{
            color: $color-pry-white;
        }



        

        @include breakpoint-down(medium){
            align-items: center;

            h2,p{
                text-align: center;
            }
        }

    }
}