
.pricing-container{
    h1{
        margin: rem(82) rem(165) rem(72) rem(165);
    }

    .pricing{
        padding: 0 rem(165);
        display: flex;
        justify-content: space-between;
    }


}