
.pricing-container{
    h1{
        margin: rem(82) rem(165) rem(72) rem(165);
    }

    .pricing{
        padding: 0 rem(165);
        display: flex;
        justify-content: space-between;
        gap: rem(10);

        &__plan{

            h4{
                margin-bottom: rem(80);
            }

            &>p{
                margin-bottom: rem(8);
            }

            h5{
                margin-bottom: rem(24);
            }

            .offers{
                margin-bottom: rem(24);
                border-top: 1px solid rgba(54, 83, 107, 0.255) ;
                border-bottom: 1px solid rgba(54, 83, 107, 0.255);
                padding:  rem(24) 0;

                display: flex;
                flex-direction: column;
                gap: rem(8);

                .checked{
                    display: flex;
                    align-items: center;
                    gap: rem(24);
                }

                .unchecked{
                    margin-left: rem(37);
                }

            }
        }
    }


}