
.pricing-container{
    h1{
        margin: rem(82) rem(165) rem(72) rem(165);

        @include breakpoint-down(medium){
            margin: rem(75) auto rem(69) auto;
        }
    }

    .pricing{
        padding: 0 rem(165);
        display: flex;
        justify-content: space-between;
        gap: rem(10);

        @include breakpoint-down(medium){
            padding: 0 rem(40);

        }

        @include breakpoint-down(tablet-small){
            flex-direction: column;
        }

        &__plan{

            @include breakpoint-down(medium){
                display: flex;
                flex-direction: column;
                align-items: center;

                text-align: center;
            }

            h4{
                margin-bottom: rem(80);
            }

            &>p{
                margin-bottom: rem(8);
            }

            h5{
                margin-bottom: rem(24);
            }

            .offers{
                margin-bottom: rem(24);
                border-top: 1px solid rgba(54, 83, 107, 0.255) ;
                border-bottom: 1px solid rgba(54, 83, 107, 0.255);
                padding:  rem(24) 0;

                display: flex;
                flex-direction: column;
                gap: rem(8);

                @include breakpoint-down(medium){
                    text-align: left;
                }

                @include breakpoint-down(tablet-small){
            
                    // padding: rem(24) 0 rem(24) rem(150);

                    // border-height: rem(500);
                    // width: 100%;
                    // align-items: center;
                    // justify-content: center;
                    
                }

                .checked{
                    display: flex;
                    align-items: center;
                    gap: rem(24);

                    @include breakpoint-down(tablet-small){
                        // align-self: flex-start;
                    
                    }
                }

                .unchecked{
                    margin-left: rem(37);
                }

            }
        }
    }


}