*, *::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #EDF3F8;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  color: #6b8294;
}

a {
  font-size: 0.9375rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #36536b;
  opacity: 0.7;
  letter-spacing: -0.12px;
}

a:hover {
  opacity: 1;
}

h1, h2 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 4.5rem;
  color: #36536b;
  line-height: 4.5rem;
  letter-spacing: -0.55px;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    letter-spacing: -0.37px;
  }
}

@media (max-width: 639px) {
  h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.25px;
  }
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.37px;
}

@media (max-width: 639px) {
  h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.25px;
  }
}

button, .button {
  padding: 0.9375rem 1.5625rem;
  border-radius: 1.5rem;
  background-color: #b9416f;
  -webkit-box-shadow: rem(10) rem(10) rem(25) rgba(55, 84, 109, 0.268);
          box-shadow: rem(10) rem(10) rem(25) rgba(55, 84, 109, 0.268);
}

@media (max-width: 639px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

@media (min-width: 640px) {
  .hide-for-tablet {
    display: none;
  }
}

.links a:not(:first-of-type) {
  margin-left: 2.5rem;
}

@media (max-width: 639px) {
  .links a:not(:first-of-type) {
    margin-left: 0;
  }
}

.background-container {
  background: url(../../img/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: 48.75rem -12.5rem;
}

@media (max-width: 1023px) {
  .background-container {
    background-size: 73.125rem auto;
    background-position: center -56.25rem;
  }
}

@media (max-width: 639px) {
  .background-container {
    background-position: center -58.125rem;
  }
}

.form-email {
  background-color: #fbfcfe;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27.8125rem;
}

@media (max-width: 639px) {
  .form-email {
    background-color: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}

.form-email input[type=email] {
  color: #36536b;
  font-weight: 700;
  padding: 0.875rem 6.25rem 0.875rem 1.6875rem;
  border: none;
  border-radius: 1.5rem;
}

.form-email input[type=email]:focus {
  outline: none;
  opacity: 1;
}

@media (max-width: 639px) {
  .form-email input[type=email] {
    padding: 0.875rem 0.625rem;
    text-align: center;
  }
}

.form-email .btn-form {
  border: none;
  border-radius: 1.5rem;
  padding: 0.9375rem 1.625rem;
  background-color: #da6c96;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fbfcfe;
}

@media (max-width: 639px) {
  .form-email .btn-form {
    text-align: center;
  }
}

.btn-outline {
  border: 1px solid #fbfcfe;
  width: 8.75rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  height: 3rem;
  border-radius: 1.5rem;
  opacity: 1;
  color: #fbfcfe;
}

.btn-outline:hover {
  background-color: #fbfcfe;
  color: #1c2731;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 10.3125rem;
}

@media (max-width: 1023px) {
  .header {
    padding: 2.5rem;
  }
}

@media (max-width: 639px) {
  .header {
    padding: 2.5rem 1.5rem;
  }
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 639px) {
  .header nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__menu span {
  display: block;
  width: 1.75rem;
  height: 0.1875rem;
  background: #1c2731;
}

.header__menu span:not(:first-child) {
  margin-top: 0.25rem;
}

.header__cta {
  letter-spacing: -0.12px;
  color: #fbfcfe;
}

.header__cta:hover {
  background-color: #da6c96;
}

.footer {
  background: url(../../img/shared/desktop/bg-pattern-circle.svg), #1c2731;
  background-repeat: no-repeat;
  background-size: 48.75rem, 100%;
  background-position: 61.25rem -9.375rem, center;
  padding: 1.9375rem 10.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer {
    padding: 1.9375rem 2.5rem;
    background-position: 25rem -9.375rem, center;
  }
}

@media (max-width: 639px) {
  .footer {
    background-position: center 6.875rem, center;
    padding: 3rem 7.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}

.footer__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__section {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 639px) {
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem;
  }
}

@media (max-width: 639px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.9375rem;
  }
}

.footer__links a {
  color: #fbfcfe;
}

@media (max-width: 639px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__social i {
  color: #fbfcfe;
  font-size: 1.5rem;
}

.footer__social i:hover {
  color: #da6c96;
}

.footer__social i:not(:first-child) {
  margin-left: 1.5rem;
}

.hero {
  padding: 0 10.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 6.0625rem;
  }
}

@media (max-width: 639px) {
  .hero {
    padding: 0 1.5rem;
  }
}

.hero__left {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

@media (max-width: 1023px) {
  .hero__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.hero__left h1 {
  margin-bottom: 1.3125rem;
}

.hero__left > p {
  margin-top: 1rem;
  padding-left: 1.6875rem;
}

@media (max-width: 1023px) {
  .hero__left > p {
    padding-left: 0;
    text-align: center;
  }
}

.hero__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  justify-items: center;
}

@media (max-width: 1023px) {
  .hero__right img {
    min-width: 9.9375rem;
    height: 18.75rem;
  }
}

@media (max-width: 639px) {
  .hero__right img {
    min-width: 8rem;
    height: 15rem;
  }
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../../img/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: -12.5rem -21.875rem;
  background-color: #1c2731;
  padding: 6.25rem 10.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.25rem;
}

@media (max-width: 1023px) {
  .partners {
    margin-top: 6.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5.5rem 7.25rem;
    background-position: center -36.25rem;
  }
}

@media (max-width: 639px) {
  .partners {
    padding: 5rem 1.5rem;
  }
}

.partners__logos {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(100px, 1fr));
  -ms-grid-rows: (auto-fit)[2];
      grid-template-rows: repeat(2, auto-fit);
  gap: 3.125rem;
}

@media (max-width: 639px) {
  .partners__logos {
    -ms-grid-columns: (minmax(100px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

.partners__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.partners__content h2 {
  color: #fbfcfe;
}

@media (max-width: 1023px) {
  .partners__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__content h2, .partners__content p {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */